.border {
  background-color: #C2C2AD;
}



h1 {
  background-color: #E0E0EB;
}

.optionblock {
  background-color: #E685A6;
  width: 750px;
  height: 25px;
}


.column1 {
  width: 500px;
  float: left;
  background-color: #9BCD9B;
  margin: 0px;
  padding: 10px;
}

.column2 {
  width: 200px;
  float: left;
  background-color: #A3A3E6;
  margin: 0px;
  padding: 10px;
}
.listcolor {
  color: blue;
}
