.border {
  background-color: #C2C2AD;
}



h1 {
  background-color: #E0E0EB;
}

h6 {
  background-color: #E685A6;
  color: blue;
  border-width:thick;
}







.column1 {
  width: 300px;
  float: left;
  background-color: #9BCD9B;
  margin: 0px;
  padding: 10px;
}

.column2 {
  width: 300px;
  float: left;
  background-color: #A3A3E6;
  margin: 0px;
  padding: 10px;
}
.listcolor {
  color: blue;
}
