.border {
  background-color: gray;
}



h1 {
  background-color: gray;
}

h2 {
  background-color: pink;
  color: blue;
  font-size: 15px;
}







.column1 {
  width: 300px;
  float: left;
  background-color: green
}

.column2 {
  width: 300px;
  float: left;
  background-color: pink
}
